* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    min-height:100%;
    background: linear-gradient(
    rgb(241, 249, 120), 
    rgb(129, 243, 245), 
    rgb(241, 249, 120)) 0 0/100% 200%;
    animation: a 3s linear infinite;   
    font-family: "Oswald", cursive;
  }
  
@keyframes a {
    to {background-position:0 -200%}
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-family: "Oswald", cursive;
    font-size: 3rem;
    color: #5a0707;
    text-shadow: 2px 2px #fff;
}
  
button {
    border: none;
    background: none;
    font-family: "Oswald", sans-serif;
    color: inherit;
}
  
.circles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: max-content;
    padding: 1rem;
    border: 4px dotted #fff;
    border-radius: 15px;
}
  
.circle {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 0 #8e2929;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
  
.button {
    width: 200px;
    margin: 20px;
    padding: 0.5rem 1rem;
    background: #fff;
    border-radius: 20px;
    box-shadow: 1px 2px 0 #8e2929;
    font-size: 20px;
}

.circle.active {
    background-image: url('https://images.unsplash.com/photo-1529034502960-57f42a966080');
    background-size: cover;
}

.overlay {
    background-color: #5f5e5edd;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: none;
}

.overlay.visible {
    display: flex;
}

.modal {
    background-color: white;
    margin: 2rem;
    padding: 1rem;
    border-radius: 5px;
    max-width: 600px;
    position: relative;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.hidden {
    display: none;
}
